h3,h4{
    color:#FF7506;
    margin-bottom:20px;
    font-size:24px;
    font-weight: 700;
}

.wrap-chart{
    background-color: #fff;
    border-radius: 10px;
    padding:10px 15px;
    margin-top:20px;
    color:#282739
}

.overview-card{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding:10px;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
    margin-bottom:10px
}

.over-view-progress{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.overview-status{
    flex-grow:2
}

.overview-status .circle{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #FF7506;
}

.overview-status .status{
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.overview-status .status p{
    margin: 0 8px;
    color: #7E7D88;
    opacity: 0.7;
}

.overview-status .status span{
    font-weight: 700;
    color:#FF7506;
}

.overview-value{
    font-size: 22px;
    color: #535261;
    margin-left: 10px;
    font-weight: 700;
}

.overview-icon{
    color:#FF7506;
    font-size:12px;
    display: flex;
    align-items: center;
}

.react-calendar{
    border-radius: 6px;
    border:1px solid #fff
}

.react-calendar__navigation button{
    color:#FF7506;
    font-size: 20px;
}

.react-calendar__navigation button:first-child,
.react-calendar__navigation button:last-child{
    display:none
}

.react-calendar__month-view{
    padding:20px
}

.react-calendar__month-view .react-calendar__month-view__weekdays{
    color:#FF7506
}

.react-calendar__month-view .react-calendar__month-view__weekdays abbr{
    text-decoration: none;
}

.react-calendar__month-view__days button{
    color:#535261
}

.react-calendar__month-view__days button:hover{
    border-radius: 5px;
}

.react-calendar__month-view__days .react-calendar__tile--active{
    background-color: #FF7506;
    border-radius: 5px;
    color:#fff
}

.react-calendar__month-view__days .react-calendar__tile--active:enabled:focus,
.react-calendar__month-view__days .react-calendar__tile--active:enabled:hover{
    background-color: #FF7506;
    
}