h3{
    color:#FF7506;
    margin-bottom:20px;
    font-size:24px;
    font-weight: 700;
}

.wrap-chart{
    background-color: #fff;
    border-radius: 10px;
    padding:10px 15px;
    margin-top:20px;
    color:#282739
}

.overview-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    
}

.over-view-progress{
    display: flex;
    align-items: center;
}

.overview-value{
    font-size: 22px;
    color: #535261;
    margin-left: 15px;
    font-weight: 700;
}

.overview-icon{
    color:#FF7506;
    font-size:14px
}

.overview-status p{
    color: #7E7D88;
    opacity: 0.7;
}

.overview-status span{
    color:#FF7506;
    text-align: center;
}