.demo-logo-vertical {
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 35px;
    cursor: pointer;
  }
  
  .demo-logo-vertical img {
    width: 70%;
  }

  .logout{
    padding:10px 25px;
    color:#FF7506;
    background-color:#FFF2E7;
    cursor: pointer;
    margin-top: 80px;
}

.icon-logout{
    margin-right:10px
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title
{
    background-color: #FF7506 !important;
    color: white !important
}

.ant-menu .ant-menu-submenu-arrow::after{
  position: absolute;
  height: 1.5px;
  background-color: currentcolor;
  content: '\2807';
  top: -20px;
  width: 0px;
  transform: rotate(-14deg);
  font-size: 18px;
}

.ant-menu .ant-menu-submenu-arrow::before
{
  display: none;
}

.ant-menu .ant-menu-submenu-open.ant-menu-submenu-inline>.ant-menu-submenu-title>.ant-menu-submenu-arrow::after{
  position: absolute;
  height: 1.5px;
  background-color: currentcolor;
  content: '\2807';
  top: -20px;
  width: 0px;
  transform: rotate(-14deg);
}

  /* .dropdown {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:100%
  }
  
  .dropdown-content a {
    color: #7E7D88;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #FF7506;color:#fff}
  
  .dropdown:hover{
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  } */
  